@keyframes spinner {
  0% {
    content: '\\';
  }
  25% {
    content: '|';
  }
  50% {
    content: '/';
  }
  75% {
    content: '-';
  }
}

.loading {
  position: relative;
}
.loading::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '\\';
  animation: 1s infinite normal spinner;
}

